WEBFIRE_BASE_URL=https://cfpub.epa.gov/webfire/efwebservices/efwebsrv5.cfc
WEBFIRE_DETAIL_URL=https://cfpub.epa.gov/webfire/SearchEmissionFactor/detail.cfm
WEBFIRE_SEARCH_URL=https://cfpub.epa.gov/webfire/SearchEmissionFactor/searchpage.cfm
WEBFIRE_CACHE_TTL_HOURS=24
DATABASE_URL=sqlite:///./webfire_cache.db
SCC_BASE_URL=https://sor-scc-api.epa.gov/sccwebservices/v1
SCC_CACHE_TTL_HOURS=168
